.btn { 
width: 70px; 
height: 35px; 
border: 1px solid transparent; 
color: white; 
background-color: rgb(0, 68, 255);
font-weight: bold;
border-radius: 20px;
box-shadow: inset 0000 #ded0d0; 
transition: ease-out 0.3s; 
font-size: 0.75rem; 
outline: none; 
} 

.btn:hover { 
box-shadow: inset 101px 000 #ffffff; 
border-color: rgb(0, 255, 132);
cursor: pointer; 
color: #000; 
}

@media (min-width: 768px) {
    .btn {
        width: auto;
        height: auto;
        padding: 15px 30px;
        font-size: 1.50rem;
        transition: ease-out 0.3s;
    }

    .btn:hover {
        box-shadow: inset 300px 0 0 #0ec4f6;
    }
}